.photo-popup__close-button {
  height: 32px;
  width: 32px;
  position: absolute;
  border: none;
  padding: 0;
  background-color: transparent;
  top: -40px;
  right: -40px;
}

@media screen and (max-width: 636px) {
  .photo-popup__close-button {
    height: 20px;
    width: 20px;
    right: 0;
    top: -36px;
  }
}

.photo-popup__close-button:hover {
  opacity: 0.6;
  cursor: pointer;
}
