.profile__name {
  color: #fff;
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  grid-area: name;
}

@media screen and (max-width: 636px) {
  .profile__name {
    text-align: center;
    font-size: 27px;
    line-height: 32px;
    margin-left: 29px;
  }
}
