.profile__info {
  margin-left: 30px;
  margin-top: 22px;
  display: grid;
  gap: 0px 0px;
  grid-template-areas:
    "name edit"
    "role role";
    margin-right: 10px;
}

@media screen and (max-width: 636px) {
  .profile__info {
    margin-right: 0px;
    margin-left: 0;
    width: 100%;
    justify-content: center;
    padding-top: 7px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}
