.profile__wrapper {
  display: flex;
  width: calc(100% - 150px);
}

@media screen and (max-width: 636px) {
  .profile__wrapper {
    flex-direction: column;
    width: 100%;
    align-items: center ;
  }
}
