.profile__add-button {
  background-color: transparent;
  border: 2px solid #fff;
  width: 150px;
  height: 50px;
  border-radius: 2px;
}

@media screen and (max-width: 636px) {
  .profile__add-button {
    width: 100%;
    margin-top: 36px;
  }
}
