.footer {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  margin: 67px 0 60px;
  min-width: 282px;
}

@media screen and (max-width: 636px) {
  .footer {
    font-size: 14px;
    line-height: 17px;
    margin: 48px 19px 36px;
  }
}
