.form__input-error_active {
    display: block;
    color: #FF0000;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    display: block;
    position: absolute;
    top: calc(100% + 5px);
}